################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/twoBrothersIce/FileContentIndex/7ee7ee35-23af-405a-a64e-ed82dfd10065.vsidx
